.mobile-menu   
    .mobile-menu__categories-orders-account-container
        ul.mobile-menu__conteiners.mobile-menu__categories-container
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text CATEGORIES 
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text All
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text Clothes
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text Electronics
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text Furnitures
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text Toys
            li.mobile-menu__item
                a(href="").mobile-menu__text.mobile-menu__categories-text Others
        ul.mobile-menu__conteiners.mobile-menu__orders-and-account-container
            li.mobile-menu__item
                a(href="").mobile-menu__text My orders
            li.mobile-menu__item
                a(href="").mobile-menu__text My account
    ul.mobile-menu__conteiners.mobile-menu__email-sign-out-container
        li.mobile-menu__item
            a(href="").mobile-menu__text.mobile-menu__email example@gmail.com
        li.mobile-menu__item
            a(href="").mobile-menu__text.mobile-menu__sign-out Sign out