.logo-container {
    display: none;
}

.main__login {
    grid-gap: 0;
}

.main__form-container {
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 6rem;
}

.signup-button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}