@import "../components/global/global";
@import "../components/product-list/products-list-base";

.shopping-cart__close-icon {
    display: none;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1.8rem;
    align-items: center;
    margin-bottom: 2.4rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.shopping-cart__img-container {
    width: 8rem;
    height: 8rem;
}

.shopping-cart__img {
    border-radius: 2rem;
    object-fit: cover;
}

.shopping-cart__name {
    color: $very-light-pink;
}

.shopping-cart__price {
    font-size: $medium;
    font-weight: bold;
}
