* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
}

img {
  width: 100%;
}

.main {
  width: 100%;
}

.main__login {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.main__form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  width: 90%;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.logo {
  width: 2.6rem;
  margin-right: 0.427rem;
}

.logo__title--green {
  color: #acd9b2;
}