extend ../components/global/_global.pug
block head
    +style-head("my-order/style.css")
    +style-head-responsive("my-order/desktop.css", "1024")
    +titles("My order")
block main
    main.main
        section.my-order
            section.my-order-container
                h1.my-order__title My order
                .my-order-content
                    .my-order-content__resume
                        +products-list("03.25.21", "6 articles", "$560.00")
                    section.shopping-carts-container 
                        each cantidad in [1, 2, 3]
                            +product-cart-mixin("1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB", "Bike", "$30")=cantidad