extend ../components/global/_global.pug
block head
    +style-head("my-order/style.css")
    +style-head-responsive("my-order/desktop.css", "1024")
    +titles("My order")
block main
    main.main
        section.my-order
            section.my-order-container
                h1.my-order__title My order
                .my-order-content
                    .my-order-content__resume
                        p.my-order-content__date-articles
                            span.my-order-content__date 03-25-21
                            span.my-order-content__articles 6 articles 
                        p.my-order-content__total $560.00
                    section.shopping-carts-container 
                        each cantidad in [1, 2, 3]
                            +producto-cart-mixin("1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB", "Bike", "$30")=cantidad