@import "./header";
@import "../menus/desktop-menu";

.header__menu {
    display: none;
}

.navbar-left__categories-container {
    display: flex;
    // margin-left: 1.5rem;
}

.navbar-right__email {
    display: flex;
    font-size: $small;
    cursor: pointer;
    user-select: none;
}