extend ../components/global/_global.pug
block head
    - const SEE_HEADER = true
    - const SEE_FOOTER = false
    +style-head("homepage/style.css")
    +style-head-responsive("homepage/desktop.css", "800")
    +titles("YardSale: tienda online de cositas chidas")
block main
    main.main
        section.main-container 
            section.cards-container 
                each price in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    +product-card-mixin("1QZcvxTGgOuRxdwQM0Ge3A74E1jqYGNlR", "1xY1EGy8wZcIAyRdrBSxkAp4R1uHt-7He", "1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB", "Bike photo", "$120.00", "Bike")=price
block scripts
    script(src="../../dist/menu/desktop.js") 