@import "../components/global/global";
@import "..//components/global/input";
@import "..//components/global/logo-yard-sale";


.main {
    width: 100%;
}

.main__login {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.main__form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 90%;
    text-align: center;
}

