.desktop-menu 
    ul.desktop-menu__item-container 
        li.desktop-menu__item
            a(href="").desktop-menu__text.desktop-menu__title  My orders
        li.desktop-menu__item
            a(href="").desktop-menu__text My account
        li.desktop-menu__item.desktop-menu__sing-out-container
            a(href="").desktop-menu__text.desktop-menu__sing-out Sing out