header.header
    +figure-img("1W7Gi9MRU0W3qf4ko_h7NPBuVXDc54RTw", "Menu").header__menu
    +mobile-drop-down-menu-header
    nav.header__navbar-left
        +logo-yard-sale
        ul.header-navbar__ul.navbar-left__categories-container
            li.header__item.navbar-left__category
                a(href="").header__content.navbar-left__text All
            li.header__item.navbar-left__category
                a(href="").header__content.navbar-left__text Clothes
            li.header__item.navbar-left__category
                a(href="").header__content.navbar-left__text Electronics
            li.header__item.navbar-left__category
                a(href="").header__content.navbar-left__text Furnitures
            li.header__item.navbar-left__category
                a(href="").header__content.navbar-left__text Toys
            li.header__item.navbar-left__category
                a(href="").header__content.navbar-left__text Others
    section.header__navbar-right
        ul.header-navbar__ul.navbar-right__ul
            li.header__content.header__item.navbar-right__email platzi@example.com
            +desktop-drop-down-menu-header
            li.header__item.navbar-right__shopping-cart
                +figure-img("1XOzXCGlZQbNBXY7410nFMacq810IvY4d", "Shopping cart").header__content.navbar-right__shopping-cart-icon
                p.header__content.navbar-right__products-number 2
    +shopping-cart-mixin