extend ../components/global/_global.pug
block head
    - const SEE_HEADER = false
    - const SEE_FOOTER = false
    +style-head("password/style.css")
    +style-head-responsive("password/desktop.css", "1024")
    +titles("Password")
block main
    main.main
        section.main__login
            section.main__form-container
                +logo-yard-sale
                .form-container__title-container 
                    h1.title Create a new password 
                    p.subtitle Enter a new password for your account
                form(action="").form-container__form
                    +inputs("label", "password", "input-title", "Password", "input input-password", "password", "Password", "new-password")
                    +inputs("label", "password", "input-title", "New Password", "input input-password", "password", "New Password", "new-password")
                    +button-submit("button-forms button-forms--primary login-button", "Confirm")