extend ../components/global/_global.pug
block head
    +style-head("password/style.css")
    +style-head-responsive("password/desktop.css", "1024")
    +titles("Password")
block main
    main.main
        section.main__login
            section.main__form-container
                +logo-yard-sale
                .form-container__title-container 
                    h1.title Create a new password 
                    p.subtitle Enter a new password for your account
                form(action="").form-container__form
                    +inputs("label", "password", "title-input", "Password", "password", "input input-password", "password", "password", "Password")
                    +inputs("label", "new-password", "title-input", "Re-enter password", "new-password", "input input-password", "password", "New password", "Re-enter password")
                    +button-submit("button-forms primary-button login-button", "Confirm")