extend ../components/global/_global.pug
block head
    +style-head("password/style.css")
    +titles("Password")
block main
    main.main
        section.main__login
            section.main__form-container
                +figure-img("", "Logo").logo
                h1.title Create a new password 
                p.subtitle Enter a new password for your account
                form(action="").form-container__form
                    +inputs("label", "password", "", "Password", "password", "input input-password", "password", "password", "*********")
                    +inputs("label", "new-password", "", "Password", "new-password", "input input-password", "password", "password", "*********")
                    +button-submit("primary-buton login-button", "Confirm")