p {
    color: #232830;
}

h1 {
    font-size: 1.8rem;
}

p, a {
    font-size: 1.4rem;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: 100%;
}

.logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 0.427rem auto;
    grid-template-columns: auto auto;
    grid-gap: 0.427rem;
    place-items: center;
    width: 100%;
}

.logo {
    width: 2.635rem;
    height: 2.635rem;
    -ms-grid-column-align: end;
        justify-self: end;
}
.logo__title {
    font-size: 2.4rem;
    display: inline-block;
    -ms-grid-column-align: start;
        justify-self: start;
}
.logo__title--green {
    text-transform: uppercase;
    color: #acd9b2;
}