
<aside class="product-detail">
  <div class="product-detail__title-container">
    <figure class="product-detail__arrow"><img src="https://drive.google.com/uc?id=1ysh11DQbWIoAWs_DTOcn7AQv79KaimVw" alt="Go back"/></figure>
    <p class="my-order__title">My order</p>
  </div>
  <section class="shopping-carts-container"> 
    <div class="shopping-cart"> 
      <figure class="shopping-cart__img-container" tabindex="0" title="Bike"> <img class="shopping-cart__img" src="https://drive.google.com/uc?id=1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB" alt="Bike"/></figure>
      <p class="shopping-cart__name">Bike</p>
      <p class="shopping-cart__price">$30</p>
      <figure class="shopping-cart__close-icon"><img src="https://drive.google.com/uc?id=1VEIsr1Sv1wq316XZEimzg60lgo2QDT1X" alt="Close icon"/></figure>
    </div>
    <div class="shopping-cart"> 
      <figure class="shopping-cart__img-container" tabindex="0" title="Bike"> <img class="shopping-cart__img" src="https://drive.google.com/uc?id=1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB" alt="Bike"/></figure>
      <p class="shopping-cart__name">Bike</p>
      <p class="shopping-cart__price">$30</p>
      <figure class="shopping-cart__close-icon"><img src="https://drive.google.com/uc?id=1VEIsr1Sv1wq316XZEimzg60lgo2QDT1X" alt="Close icon"/></figure>
    </div>
    <div class="shopping-cart"> 
      <figure class="shopping-cart__img-container" tabindex="0" title="Bike"> <img class="shopping-cart__img" src="https://drive.google.com/uc?id=1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB" alt="Bike"/></figure>
      <p class="shopping-cart__name">Bike</p>
      <p class="shopping-cart__price">$30</p>
      <figure class="shopping-cart__close-icon"><img src="https://drive.google.com/uc?id=1VEIsr1Sv1wq316XZEimzg60lgo2QDT1X" alt="Close icon"/></figure>
    </div>
  </section>
  <div class="my-order-content">
    <div class="my-order-content__resume">
      <p class="my-order-content__date-articles"><span class="my-order-content__date">Total</span><span class="my-order-content__articles"></span></p>
      <p class="my-order-content__total">$560.00</p>
    </div>
    <button class="button-forms button-forms--primary">Checkout</button>
  </div>
</aside>