aside.product-detail
    .product-detail__title-container
        +figure-img("1ysh11DQbWIoAWs_DTOcn7AQv79KaimVw", "Go back").product-detail__arrow
        p.my-order__title My order
    section.shopping-carts-container 
        each cantidad in [1, 2, 3]
            +product-cart-mixin("1obnGAPs1OMuh79GmVS1oejGCFwDBF-bB", "Bike", "$30")=cantidad
    .my-order-content
        .my-order-content__resume
            +products-list("Total", "", "$560.00")
        button.button-forms.button-forms--primary Checkout